<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>SignUp</h3>
      <hr />
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
        <div class="mb-3">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email" />
          <div
            *ngIf="
              signUpForm.get('email').touched && !signUpForm.get('email').valid
            "
          >
            <div *ngIf="signUpForm.get('email').errors.required">
              Email is required
            </div>
            <div *ngIf="signUpForm.get('email').errors.email">
              Invalid Email
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <div
            *ngIf="
              signUpForm.get('password').touched &&
              !signUpForm.get('password').valid
            "
          >
            <div>Password is required</div>
          </div>
        </div>
        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!signUpForm.valid"
          >
            SignUp
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
